@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --font-base: "Times New Roman", Times, serif;  /* primary font */
  --font-second-base: "Georgia", serif;          /* secondary font */
  --bg-color: #111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
  font-family: var(--font-base);

}